.dculus__control {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}

.filter__menu {
  margin: 0.125rem auto;
}
.filter__option {
  background-color: white;
}
.filter__option--is-focused {
  background-color: lightblue;
}
.filter__group {
  padding: 0;
}
.filter__menu-portal {
  border: 1px solid darkblue;
}

.react-select-container {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__control {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__value-container {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__indicators {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__menu {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__menu-list {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
.react-select__option {
  color: aqua;
  background-color: blue;
  margin: 0.125rem auto;
  border: 1px solid darkblue;
}
